{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "webpackIsomorphicTools": false,
    "assert": true,
    "sinon": true
  },
  "rules": {
    "arrow-parens": 2,
    "quotes": [2, "single"],
    "eol-last": 2,
    "no-confusing-arrow": 2,
    "no-debugger": 1,
    "no-mixed-requires": 2,
    "no-underscore-dangle": 2,
    "no-multi-spaces": 0,
    "no-trailing-spaces": 1,
    "no-extra-boolean-cast": 2,
    "no-unused-vars": 2,
    "no-undef": 2,
    "new-cap": 0,
    "prefer-arrow-callback": 2,
    "camelcase": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/jsx-handler-names": 2
  }
}
